<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form  action="/admin" method="POST">
        <div id="prevText"></div>
    <textarea type="text" name="newOrder" id="textBox" placeholder="new order"></textarea>
    <textarea type="text" name="visitors" id="textBox" placeholder="Visitors"></textarea>
    <textarea type="text" name="totalSales" id="textBox" placeholder="totalSales"></textarea>


  
    <button type="submit" class="btn" name="button">Publish</button>

    </form>
</body>
</html>