<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OpenSea, the largest NFT marketplace</title>
     <link rel="icon" href="favicon.png">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <div class="center" id="cdd">
      <h1>Sign Up</h1>
      <form method="POST" action="/signup" class="form">
        <div class="txt_field">
          <input type="name" name="firstName" required>
          <span></span>
          <label>First Name</label>
        </div>
        <div class="txt_field">
          <input type="name" name="lastName" required>
          <span></span>
          <label>Last Name</label>
        </div>
        <div class="txt_field">
          <input type="email" name="email" required>
          <span></span>
          <label>Email</label>
        </div>
        <div class="txt_field">
          <input type="password" name="password" required>
          <span></span>
          <label>Password</label>
        </div>
      
        <br><div class="pass">Forgot Password?</div></br>
        <input type="submit" value="Sign Up">
        <div class="signup_link">
          Already a member? <a href="login.html">Login</a>
        </div>
      </form>
    </div>
  </body>
</html>
